.todo-container{
    width: 100vw;
    min-height: 100vh;
    // background-color: rgb(143, 143, 143);
    display: flex;
    justify-content: center;


    .todo-container-left{
        width: 30%;
        // background-color: rgb(248, 248, 248);
        min-height: 100vh;
        padding: 25px 20px;
        box-sizing: border-box;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    .todo-container-right{
        width: 70%;
        // background-color: yellowgreen;
        min-height: 100vh;
        padding: 10px 20px;
        box-sizing: border-box;
    }
}

.data-message{
    // background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

