.todo-add-container{
    // background-color: bisque;
    min-height: 50vh;
    width: 90%;
    padding: 30px 15px 0px 0px;
    margin-top: 20px;

    .input-container{
        // background-color: yellow;
        margin-bottom: 25px;

    }
}

.input-message{
    padding: 20px 0px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(0, 0, 90);
    font-style: italic;
}